{% extends 'skeleton.html' %}

{% block 'title' %}
    {% if mode == 't' %}Best
        {% elif mode == 'n' %}Newest
        {% endif %}
    {{ lang }}
    {% if cat == 't' %}text
        {% elif cat == 'v' %}video
        {% elif cat == 'b'%}book
        {% endif %}
    links -
{% endblock %}

{% block 'head' %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
{% endblock %}

{% block 'menu' %}
&gt;
<li class="menu"><a {% if mode == 't' %}class="hilight" {% endif %}
href="{% url 'posts:get' lang cat 't' %}">top</a></li>
<li class="menu"><a {% if mode == 'n' %}class="hilight" {% endif %}
href="{% url 'posts:get' lang cat 'n' %}">new</a></li>
&gt;
<li class="menu"><a {% if cat == 't' %}class="hilight" {% endif %}
href="{% url 'posts:get' lang 't' mode %}">text</a></li>
<li class="menu"><a {% if cat == 'v' %}class="hilight" {% endif %}
href="{% url 'posts:get' lang 'v' mode %}">video</a></li>
<li class="menu"><a {% if cat == 'b' %}class="hilight" {% endif %}
href="{% url 'posts:get' lang 'b' mode %}">book</a></li>
&gt;
<li class="menu"><a href="{% url 'posts:submit' %}">submit</a></li>
{% endblock %}

{% block 'content' %}
{% for post in posts %}
<li>
<div>
{% if post.pk not in voted %}
    <a class="vote" href="{% url 'posts:upvote' post.pk %}">+</a>
{% endif %}
<a href="{{ post.link }}" title="{{ post.link }}">{{ post }}</a><br />
<span>{{ post.votes }}</span> Votes |
{{ post.pub_date|date:"Y-m-d" }} |
{{ post.slug }}
</div>
</li>
{% empty %}
<div id="empty">
There seems to be nothing here. Why don't you <a href="{% url 'posts:submit' %}">post something</a>?
</div>
{% endfor %}
<div id="pagination">
    {% if posts.has_previous %}
        <a href="?p={{ posts.previous_page_number }}">&lt;</a>
    {% endif %}

        {{ posts.number }} / {{ posts.paginator.num_pages }}

    {% if posts.has_next %}
        <a href="?p={{ posts.next_page_number }}">&gt;</a>
    {% endif %}
</div>
<script type="text/javascript">
$("a.vote").click(function(){
    var curr = $(this);
    $.get($(this).attr('href'), function(data){
        var ctr = $(curr).parent().children("span");
        ctr.text(ctr.text()*1+1);
        curr.remove();
    });
    return false;
});
</script>
{% endblock %}

