{% extends 'skeleton.html' %}

{% block 'title' %}
    {% if mode == 't' %}Best
        {% elif mode == 'n' %}Newest
        {% endif %}
    {{ lang }}
    {% if cat == 't' %}text
        {% elif cat == 'v' %}video
        {% elif cat == 'b'%}book
        {% endif %}
    links -
{% endblock %}

{% block 'menu' %}
&gt;
<li class="menu"><a href="{% url 'posts:get' lang cat 't' %}">top</a></li>
<li class="menu"><a href="{% url 'posts:get' lang cat 'n' %}">new</a></li>
&gt;
<li class="menu"><a href="{% url 'posts:get' lang 't' mode %}">text</a></li>
<li class="menu"><a href="{% url 'posts:get' lang 'v' mode %}">video</a></li>
<li class="menu"><a href="{% url 'posts:get' lang 'b' mode %}">book</a></li>
&gt;
<li class="menu"><a href="{% url 'posts:submit' %}">submit</a></li>
{% endblock %}

{% block 'content' %}
{% for post in posts %}
<li>
<a href="{{ post.link }}" title="{{ post.link }}">{{ post }}</a><br />
{{ post.votes }} Votes |
{{ post.pub_date|date:"Y-d-m" }} |
{{ post.slug }}
</li>
{% endfor %}
{% endblock %}

