{% load staticfiles %}
<html>
<head>
    <title>{% block 'title' %}{% endblock %}Codessentials</title>
    <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css" />
    {% block 'head' %}
    {% endblock %}
</head>
<body>
    <div id="container">
    <div id="top">
        <a id="logo" href="/">Codessentials</a>
        {% block 'menu' %}
        {% endblock %}
    </div>
    {% if messages %}
        {% for message in messages %}
            <div class="messages msg_{{ message.level }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <div id="ad_banner">
    <!-- Adsense -->
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class="adsbygoogle"
    style="display:inline-block;width:728px;height:90px"
    data-ad-client="ca-pub-5757275602398953"
    data-ad-slot="2887394551"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    </div>
    <!-- Analytics -->
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-38330260-6', 'auto');
    ga('send', 'pageview');

    </script>
    {% block 'content' %}
    {% endblock %}
    </div>
</body>
</html>

