{% load staticfiles %}
<html>
<head>
    <title>{% block 'title' %}{% endblock %}Codessentials</title>
    <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css" />
    {% block 'head' %}
    {% endblock %}
</head>
<body>
    <div id="container">
    <div id="top">
        <a id="logo" href="/">Codessentials</a>
        {% block 'menu' %}
        {% endblock %}
    </div>
    <div id="ad_banner">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class="adsbygoogle"
    style="display:inline-block;width:728px;height:90px"
    data-ad-client="ca-pub-5757275602398953"
    data-ad-slot="2887394551"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    </div>
    {% block 'content' %}
    {% endblock %}
    </div>
</body>
</html>

